@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Numerical practise site!</h1>
    <p class="lead">
        Practise numerical reasoning, number patterns, percentages, ratios and more!
    </p>

    <div class="mt-4">
        <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary btn-lg">
            Start Quiz
        </a>

        <a asp-controller="NumericalQuestions" asp-action="Index" class="btn btn-outline-secondary btn-lg">
            Manage Questions
        </a>
    </div>
</div>